@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-size: 65.2%;
}

html {
	border-radius: 1rem;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	width: 30rem;
	height: 12rem;
	color: white;
	background: black;
}

header {
	height: 4rem;
	border-bottom: 1px solid #3a3a3a;
}

header h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	color: #e50914;
}

main {
	font-size: 2.6rem;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5rem;
	margin-top: 1rem;
}

.disable-extension,
.disable-intro,
.disable-continue {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}

.disable_slider {
	width: 2.25rem;
	height: 1rem;
	border-radius: 1rem;
	position: relative;
	background: #8b4346;
	transition: background 0.3s ease-out;
}

.disable_slider-circle {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: -10%;
	vertical-align: middle;
	background: #e50914;
	cursor: pointer;
	transition: left 0.3s ease-out;
}

.disabled {
	left: 55%;
	transition: left 0.3s ease-out;
}

.disabled-bg {
	background: #860d13;
	transition: background 0.3s ease-out;
}
